{% extends 'login_page/index.html' %}
    {% block content %}

        <!--<form method="POST" class="simform">{% csrf_token %}-->
            <!--{{ form.as_p }}-->
            <!--<div class="simform__actions">-->
                <!--<input class="sumbit" name="commit" type="sumbit" value="Create Account" />-->
                <!--<span class="simform__actions-sidetext">By creating an account you agree to our <a class="special" href="#" target="_blank" role="link">Terms & Privacy</a></span>-->
            <!--</div>-->
        <!--</form>-->

        <form method="POST" class="simform" >
            {% csrf_token %}
            <div class="sminputs">
                <div class="input full">
                    <label class="string optional" for="user-name">Email*</label>
                    <input class="string optional" maxlength="255" id="user-email" name='email' placeholder="Email" type="email" size="50" />
                </div>
            </div>
            <div class="sminputs">
                <div class="input string optional">
                    <label class="string optional" for="user-pw">Password *</label>
                    <input class="string optional" maxlength="255" id="user-pw" name='password' placeholder="Password" type="text" size="50" />
                </div>
                <div class="input string optional">
                    <label class="string optional" for="user-pw-repeat">Repeat password *</label>
                    <input class="string optional" maxlength="255" id="user-pw-repeat" name='repeat_password' placeholder="Repeat password" type="text" size="50" />
                </div>
            </div>
            <div class="simform__actions">
                <input class="sumbit" name="commit" type="submit" value="Create Account" />
                <span class="simform__actions-sidetext">By creating an account you agree to our <a class="special" href="#" target="_blank" role="link">Terms & Privacy</a></span>
            </div>
        </form>
    {% endblock %}